@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    padding: 250px 0;
    background-image: linear-gradient(45deg, #4874E8, #4B5DF2, #584EDB, #744BF2, #8842EB);
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
}

form {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 500px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="submit"] {
    background-image: linear-gradient(45deg, #8842EB, #744BF2, #584EDB, #4B5DF2, #4874E8);
    background-size: 500% 100%;
    animation: degrade-animado 2s infinite alternate;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    padding: 10px 20px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4B5DF2;
}

.switch input {
    display: none
}

.switch {
    display: inline-block;
    width: 60px; 
    height: 30px;
    margin: 0px;
    transform: translateY(50%);
    position: relative;
    
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #4B5DF2, 0 0 4px #4B5DF2;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #4B5DF2;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.2s;
}

input:checked + .slider:before {
    transform: translateX(30px);
    background-color: white;
}

input:checked + .slider {
  box-shadow: 0 0 0 2px #4B5DF2, 0 0 8px #4B5DF2;
  background-color: #4B5DF2
}



@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%
    }
}